<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
<%-include('./partials/nav.ejs')%>
<h1>Posts:</h1>
<ul class="postsList" >
    <% if(posts.length){ %>
    <% posts.forEach(({id,text,title,createdAt,author}) => { %>
    <li>
        <article class="onePost">
            <h2><a href="/posts/<%= id %>"><%= title %></a></h2>
            <p><%= text %></p>
            <div class="info">
                <span><%= createdAt.toLocaleDateString() %></span>
                <span><%= author %></span>
            </div>
            <button class="delete-btn" data-id="<% id %>>">
                <i class="fa-solid fa-trash " data-id="<% id %>"></i>
            </button>
        </article>
    </li>
    <% }) %>
    <% } %>
</ul>
<script>
    let delBtn = document.querySelector('.delete-btn')
    delBtn.addEventListener('click',(event)=>{
        let id = event.target?.dataset?.id||null;
        console.log(id);
        if(id){
            fetch(`/posts/${id}`,{
                method:'DELETE'
            }).then(()=>window.location.reload());

        }
    })
</script>
</body>
</html>